.swiper-cover {
    position: relative;
    height: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
}

.swiper {
    width: 240px;
    height: 320px;
}

.swiper-slide {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    border-radius: 18px;
    font-size: 22px;
    font-weight: bold;
    color: #fff;
}

.swiper-slide:nth-child(1n) {
    background-color: rgba(255, 2, 2, 0.658);
}

.swiper-slide:nth-child(2n) {
    background-color: rgba(0, 255, 255, 0.658);
}

.swiper-slide:nth-child(3n) {
    background-color: rgba(255, 2, 2, 0.658);
}

.swiper-slide:nth-child(4n) {
    background-color: rgba(255, 2, 2, 0.658);
}

.swiper-slide:nth-child(5n) {
    background-color: rgba(0, 255, 255, 0.658);
}

.swiper-slide:nth-child(6n) {
    background-color: rgba(0, 255, 255, 0.658);
}

.swiper-slide:nth-child(7n) {
    background-color: rgba(251, 255, 0, 0.658);
}

.swiper-slide:nth-child(8n) {
    background-color: rgba(255, 2, 2, 0.658);
}